body{
	font-family:sans-serif;
}

#mainDiv{
	width:80%;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
}

table, th, td
{
  border: 0;
}

#tblDashboard{
	width:100%;
	border:0;
	border-collapse:collapse;
}

#tblDashboard tr th{
	width:20%;
}

#tblDashboard tr td, #tblDashboard tr th{
	padding-top:15px;
	padding-bottom:15px;
}

#tblDashboard #headingRow{
	background-color:#b3d9ff;
}

.traffic-light{
	width:50px;
}
